/.github
/.idea
/.vscode
/dev
/docker
/docs
/venv
/.bandit.yml
/.editorconfig
/.env
/.env.sample
/.flake8
/.pylintrc
/docker-compose.yml
/Makefile
/pyproject.toml
/README.md

**/*.pyc
**/*.pyd
**/*.pyo
**/__pycache__
