# Django artifacts
/resume_templates/
/media/
/static/
/static_build/

*.db
*.log
*.py[cod]
*.sqlite3
.env

/.idea
/.vscode

**/settings/local.py
__pycache__
pip-delete-this-directory.txt
pip-log.txt
venv
schema*[.yml,.yaml]
swagger*[.yml,.yaml]
env


# Node.js
node_modules
