{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="MyFoLab">

  <title>{% block page_title %}{% endblock %}</title>

  <link href="{% static 'css/main.min.css' %}" rel="stylesheet" />
  {% block page_specific_styles %}{% endblock %}
</head>
<body class="{% block body_classes %}{% endblock %}">
  {% block content %}{% endblock %}
</body>
</html>
